.news-intro-col {
  display: inline-flex;
  color: black;
  height: 100%;
}

.s12 .news-intro-col {
  padding-left: 20px;
  padding-right: 20px;
}

.news-intro-panel {
  margin: auto 5px;
  text-align: left;
}

.news-description {
  text-align: left;
}

.news-description p {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 6.0em;
}

.news-chip {
  font-size: 12px;
  text-transform: capitalize;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    min-width: 110%;
    max-height: 225px;
    object-fit: cover;
}
